body {
  padding-top: 5%;
  padding-left: 15%;
  padding-bottom: 15%;
  padding-right: 15%;
  background-color: #27233f;
}

header {
  height: 100px;
  width: auto;
}

header img {
  float: left;
}

div {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: auto;
}

article {
  width: 50%;
  float: left;
  background-color: #2e2a4a;
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
}

section {
  float: left;
  border-radius: 20px;
  margin: 40px;
}

form {
  min-width: 400px;
}

label {
  font-family: "Arima Madurai", sans-serif;
  text-align: right;
  display: inline-block;
  width: 75px;
  margin-right: 15px;
  color: white;
}

input {
  font-family: "Arima Madurai", sans-serif;
  padding: 5px;
  color: white;
  font-size: 10px;
  border: white;
  border-width: 0.5px;
  border-style: solid;
  background-color: #403a65;
}

input[type="text"] {
  width: 120px;
  font-family: "Arima Madurai", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  margin: 5px;
  font-size: 10px;
}

input[type="reset"], input[type="submit"] {
  width: 150px;
  border-radius: 5px;
  margin: 5px;
  font-size: 12px;
}

input[type="reset"]:focus, input[type="submit"]:focus {
  color: #2d274e;
}

form section:last-child {
  display: block;
  width: 100%;
  margin-top: 7%;
}

footer {
  clear: both;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*typography*/

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 70px;
  text-align: center;
}

h2 {
  font-family: "Lobster Two", sans-serif;
  font-size: 50px;
  line-height: 30px;
}

h3 {
  font-family: "Lobster Two", sans-serif;
  font-size: 25px;
  color: white;
}

span {
  color: #524b7d;
}

p {
  font-family: "Arima Madurai", sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 150%;
  max-width: 350px;
  min-width: 280px;
  margin-bottom: 40%;
}

h1, h2, p {
  color: white;
}

header a {
  top: 10px;
}

a, a:visited {
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 10px;
  color: #5c5198;
  text-decoration: none;
}

a:hover {
  color: white;
}

/*responsive*/

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 25px;
  }
  article {
    width: 100%;
  }
}